## 5. 데이터확인

In [ ]:
import pandas as pd

df = pd.read_csv("score.csv")
df

## DataFrame 확인

계산 가능한 데이터에 대해 컬럼 별로 갯수, 평균, 표준편차 등의 정보 보여줌

In [2]:
df.describe()

                키          국어          영어          수학         과학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  70.000000  60.625000
std      9.985704   29.519969   26.917533   30.325614  23.754699  32.120032
min    168.000000   15.000000   20.000000   10.000000  35.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  51.250000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  87.500000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000  95.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지원번호    8 non-null      object
 1   이름      8 non-null      object
 2   학교      8 non-null      object
 3   키       8 non-null      int64
 4   국어      8 non-null      int64
 5   영어      8 non-null      int64
 6   수학      8 non-null      int64
 7   과학      8 non-null      int64
 8   사회      8 non-null      int64
 9   SW특기    6 non-null      object
dtypes: int64(6), object(4)
memory usage: 768.0+ bytes

In [6]:
df.head(5) ## 머리열부터 얼마나 보여줄지 정함
df.tail(5) ## 꼬리열부터 얼마나 보여줄지 정함

  지원번호   이름   학교    키  국어  영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197  90  85  100  95  85      Python
1   2번  정대만  북산고  184  40  35   50  55  25        Java
2   3번  송태섭  북산고  168  80  75   70  80  75  Javascript
3   4번  서태웅  북산고  187  40  60   70  75  80         NaN
4   5번  강백호  북산고  188  15  20   10  35  10         NaN

In [7]:
df.values

array([['1번', '채치수', '북산고', 197, 90, 85, 100, 95, 85, 'Python'],
       ['2번', '정대만', '북산고', 184, 40, 35, 50, 55, 25, 'Java'],
       ['3번', '송태섭', '북산고', 168, 80, 75, 70, 80, 75, 'Javascript'],
       ['4번', '서태웅', '북산고', 187, 40, 60, 70, 75, 80, nan],
       ['5번', '강백호', '북산고', 188, 15, 20, 10, 35, 10, nan],
       ['6번', '변덕규', '능남고', 202, 80, 100, 95, 85, 80, 'C'],
       ['7번', '황태산', '능남고', 188, 55, 65, 45, 40, 35, 'PYTHON'],
       ['8번', '윤대협', '능남고', 190, 100, 85, 90, 95, 95, 'C#']], dtype=object)

In [9]:
df.columns ## 컬럼 확인
df.shape   ## 행, 열 개수 확인

(8, 10)

## series 확인

In [16]:
df["키"].describe()
df["키"].min()
df["키"].nlargest(3)
df["키"].sum()

1504

In [17]:
df["학교"].unique() ## 중복제거
df["학교"].unique() ## 중복 제거하고 학교 개수 확인

array(['북산고', '능남고'], dtype=object)