# pandas

1. series
1차원 데이터

In [9]:
import pandas as pd

temp = pd.Series([-10, 20, 10, 0])
print(temp)
temp[0] # 1월온도

0   -10
1    20
2    10
3     0
dtype: int64

10

In [10]:
temp[2] # 3월온도

10

# series 객체 생성(index 지정)

In [11]:
temp = pd.Series([-10, -10, 10, 20], index = ["jan", "feb", "Mar", "Apr"])
temp

jan   -10
feb   -10
Mar    10
Apr    20
dtype: int64

In [12]:
temp["jan"] # index, jan에 해당하는 데이터

-10

In [13]:
temp["Apr"]

20